.features {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
    gap: 20px; /* Add space between feature items */
  }
  .feature {
    flex: 1;
    text-align: center;
    margin-block: 20px;
  }
  .feature h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .feature p {
    font-size: 1rem;
    color: #777;
    text-align: center;
    margin-left:40px;
  }